.btn {
    border-width: 2px;
}

body {
    font-family: Jost;
}

.display-1 {
    font-family: 'Nunito', sans-serif;
    font-size: 6.6rem;
    line-height: 1.1;
}

.display-1>.mbr-iconfont {
    font-size: 8.25rem;
}

.display-2 {
    font-family: 'Nunito', sans-serif;
    font-size: 4.2rem;
    line-height: 1.1;
}

.display-2>.mbr-iconfont {
    font-size: 5.25rem;
}

.display-4 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
}

.display-4>.mbr-iconfont {
    font-size: 1rem;
}

.display-5 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.display-5>.mbr-iconfont {
    font-size: 2rem;
}

.display-7 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.display-7>.mbr-iconfont {
    font-size: 1.5rem;
}


/* ---- Fluid typography for mobile devices ---- */


/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */


/* 100vw - current viewport width */


/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */


/* 0.65 - min scale variable, may vary */

@media (max-width: 992px) {
    .display-1 {
        font-size: 5.28rem;
    }
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 4.62rem;
        font-size: calc( 2.96rem + (6.6 - 2.96) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.1 * (2.96rem + (6.6 - 2.96) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-2 {
        font-size: 3.36rem;
        font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.3 * (2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
        font-size: 0.64rem;
        font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
        font-size: 1.28rem;
        font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-7 {
        font-size: 0.96rem;
        font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
    }
}


/* Buttons */

.btn {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-sm {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-md {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-lg {
    padding: 1rem 2.6rem;
    border-radius: 4px;
}

.bg-primary {
    background-color: #003357 !important;
}

.bg-success {
    background-color: #0663a5 !important;
}

.bg-info {
    background-color: #ffffff !important;
}

.bg-warning {
    background-color: #ffe161 !important;
}

.bg-danger {
    background-color: #2b00ff !important;
}

.btn-primary,
.btn-primary:active {
    background-color: #003357 !important;
    border-color: #003357 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-secondary,
.btn-secondary:active {
    background-color: #003357 !important;
    border-color: #003357 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-info,
.btn-info:active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #808080 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
    color: #545454 !important;
    background-color: #d4d4d4 !important;
    border-color: #d4d4d4 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #808080 !important;
    background-color: #d4d4d4 !important;
    border-color: #d4d4d4 !important;
}

.btn-success,
.btn-success:active {
    background-color: #0663a5 !important;
    border-color: #0663a5 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
    color: #ffffff !important;
    background-color: #033151 !important;
    border-color: #033151 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-success.disabled,
.btn-success:disabled {
    color: #ffffff !important;
    background-color: #033151 !important;
    border-color: #033151 !important;
}

.btn-warning,
.btn-warning:active {
    background-color: #ffe161 !important;
    border-color: #ffe161 !important;
    color: #614f00 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
    color: #0a0800 !important;
    background-color: #ffd10a !important;
    border-color: #ffd10a !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #614f00 !important;
    background-color: #ffd10a !important;
    border-color: #ffd10a !important;
}

.btn-danger,
.btn-danger:active {
    background-color: #2b00ff !important;
    border-color: #2b00ff !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
    color: #ffffff !important;
    background-color: #1c00a8 !important;
    border-color: #1c00a8 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #ffffff !important;
    background-color: #1c00a8 !important;
    border-color: #1c00a8 !important;
}

.btn-white,
.btn-white:active {
    background-color: #fafafa !important;
    border-color: #fafafa !important;
    color: #7a7a7a !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
    color: #4f4f4f !important;
    background-color: #cfcfcf !important;
    border-color: #cfcfcf !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-white.disabled,
.btn-white:disabled {
    color: #7a7a7a !important;
    background-color: #cfcfcf !important;
    border-color: #cfcfcf !important;
}

.btn-black,
.btn-black:active {
    background-color: #232323 !important;
    border-color: #232323 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-black.disabled,
.btn-black:disabled {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-primary-outline,
.btn-primary-outline:active {
    background-color: transparent !important;
    border-color: #003357;
    color: #003357;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
    color: #000000 !important;
    background-color: transparent!important;
    border-color: #000000 !important;
    box-shadow: none!important;
}

.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #003357 !important;
    border-color: #003357 !important;
}

.btn-secondary-outline,
.btn-secondary-outline:active {
    background-color: transparent !important;
    border-color: #003357;
    color: #003357;
}

.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
    color: #000000 !important;
    background-color: transparent!important;
    border-color: #000000 !important;
    box-shadow: none!important;
}

.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
    color: #ffffff !important;
    background-color: #003357 !important;
    border-color: #003357 !important;
}

.btn-info-outline,
.btn-info-outline:active {
    background-color: transparent !important;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
    color: #d4d4d4 !important;
    background-color: transparent!important;
    border-color: #d4d4d4 !important;
    box-shadow: none!important;
}

.btn-info-outline.disabled,
.btn-info-outline:disabled {
    color: #808080 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.btn-success-outline,
.btn-success-outline:active {
    background-color: transparent !important;
    border-color: #0663a5;
    color: #0663a5;
}

.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
    color: #033151 !important;
    background-color: transparent!important;
    border-color: #033151 !important;
    box-shadow: none!important;
}

.btn-success-outline.disabled,
.btn-success-outline:disabled {
    color: #ffffff !important;
    background-color: #0663a5 !important;
    border-color: #0663a5 !important;
}

.btn-warning-outline,
.btn-warning-outline:active {
    background-color: transparent !important;
    border-color: #ffe161;
    color: #ffe161;
}

.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
    color: #ffd10a !important;
    background-color: transparent!important;
    border-color: #ffd10a !important;
    box-shadow: none!important;
}

.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
    color: #614f00 !important;
    background-color: #ffe161 !important;
    border-color: #ffe161 !important;
}

.btn-danger-outline,
.btn-danger-outline:active {
    background-color: transparent !important;
    border-color: #2b00ff;
    color: #2b00ff;
}

.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
    color: #1c00a8 !important;
    background-color: transparent!important;
    border-color: #1c00a8 !important;
    box-shadow: none!important;
}

.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #2b00ff !important;
    border-color: #2b00ff !important;
}

.btn-black-outline,
.btn-black-outline:active {
    background-color: transparent !important;
    border-color: #232323;
    color: #232323;
}

.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
    color: #000000 !important;
    background-color: transparent!important;
    border-color: #000000 !important;
    box-shadow: none!important;
}

.btn-black-outline.disabled,
.btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #232323 !important;
    border-color: #232323 !important;
}

.btn-white-outline,
.btn-white-outline:active {
    background-color: transparent !important;
    border-color: #fafafa;
    color: #fafafa;
}

.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
    color: #cfcfcf !important;
    background-color: transparent!important;
    border-color: #cfcfcf !important;
    box-shadow: none!important;
}

.btn-white-outline.disabled,
.btn-white-outline:disabled {
    color: #7a7a7a !important;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
}

.text-primary {
    color: #003357 !important;
}

.text-secondary {
    color: #003357 !important;
}

.text-success {
    color: #0663a5 !important;
}

.text-info {
    color: #ffffff !important;
}

.text-warning {
    color: #ffe161 !important;
}

.text-danger {
    color: #2b00ff !important;
}

.text-white {
    color: #fafafa !important;
}

.text-black {
    color: #232323 !important;
}

a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
    color: #000000 !important;
}

a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
    color: #000000 !important;
}

a.text-success:hover,
a.text-success:focus,
a.text-success.active {
    color: #022843 !important;
}

a.text-info:hover,
a.text-info:focus,
a.text-info.active {
    color: #cccccc !important;
}

a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
    color: #facb00 !important;
}

a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
    color: #1a0099 !important;
}

a.text-white:hover,
a.text-white:focus,
a.text-white.active {
    color: #c7c7c7 !important;
}

a.text-black:hover,
a.text-black:focus,
a.text-black.active {
    color: #000000 !important;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
    position: relative;
    background-image: transparent;
    background-size: 10000px 2px;
    background-repeat: no-repeat;
    background-position: 0px 1.2em;
    background-position: -10000px 1.2em;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
    transition: background-position 2s ease-in-out;
    background-image: linear-gradient(currentColor 50%, currentColor 50%);
    background-position: 0px 1.2em;
}

.nav-tabs .nav-link.active {
    color: #003357;
}

.nav-tabs .nav-link:not(.active) {
    color: #232323;
}

.alert-success {
    background-color: #70c770;
}

.alert-info {
    background-color: #ffffff;
}

.alert-warning {
    background-color: #ffe161;
}

.alert-danger {
    background-color: #2b00ff;
}

.mbr-section-btn a.btn:not(.btn-form) {
    border-radius: 100px;
}

.mbr-gallery-filter li a {
    border-radius: 100px !important;
}

.mbr-gallery-filter li.active .btn {
    background-color: #003357;
    border-color: #003357;
    color: #ffffff;
}

.mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
}

.nav-tabs .nav-link {
    border-radius: 100px !important;
}

a,
a:hover {
    color: #003357;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #007ed7;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #33a6f8;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #d5ccff;
}


/* Scroll to top button*/

#scrollToTop a {
    border-radius: 100px;
}

.form-control {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: 400;
}

.form-control>.mbr-iconfont {
    font-size: 1rem;
}

.form-control:hover,
.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: #003357 !important;
}

.form-control:-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: 400;
}

.form-control:-webkit-input-placeholder>.mbr-iconfont {
    font-size: 1rem;
}

blockquote {
    border-color: #003357;
}


/* Forms */

.mbr-form .input-group-btn a.btn {
    border-radius: 100px !important;
}

.mbr-form .input-group-btn a.btn:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.mbr-form .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
    padding: 1rem 3rem;
}

.mbr-form .input-group-btn button[type="submit"]:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.jq-selectbox li:hover,
.jq-selectbox li.selected {
    background-color: #003357;
    color: #ffffff;
}

.jq-number__spin {
    transition: 0.25s ease;
}

.jq-number__spin:hover {
    border-color: #003357;
}

.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
    transition: 0.4s;
    border-top-color: #353535;
    border-bottom-color: #353535;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
    border-top-color: #003357;
    border-bottom-color: #003357;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    color: #ffffff !important;
    background-color: #003357 !important;
    box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #ffffff !important;
    background: #003357 !important;
    box-shadow: none !important;
}

.lazy-bg {
    background-image: none !important;
}

.lazy-placeholder:not(section),
.lazy-none {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
}

iframe.lazy-placeholder,
.lazy-placeholder:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23003357' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

section.lazy-placeholder:after {
    opacity: 0.5;
}

body {
    overflow-x: hidden;
}

a {
    transition: color 0.6s;
}

.cid-sUiqZj7C2C {
    background-image: url("../../../<?=$this->urlcaminho?>/assets3/images/radial-halftone-circle-pattern-graphics-3929371-1-1500x1000.jpg");
}

.cid-sUloXxHfB4 {
    background-color: #003357;
}

.cid-sUloXxHfB4 .image-wrap img {
    width: 100%;
}

@media (min-width: 992px) {
    .cid-sUloXxHfB4 .image-wrap img {
        display: block;
        margin: auto;
        width: 70%;
    }
}

.cid-sUloXxHfB4 .mbr-section-title {
    color: #ffffff;
}

.cid-sURcrf4zeK {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
}

.cid-sURcrf4zeK .row {
    flex-direction: row-reverse;
}

@media (max-width: 991px) {
    .cid-sURcrf4zeK .image-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sURcrf4zeK .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cid-sURcrf4zeK .text-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .cid-sURcrf4zeK .text-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sURcrf4zeK .mbr-section-title {
    color: #003357;
    text-align: left;
}

.cid-sURcrf4zeK .mbr-text,
.cid-sURcrf4zeK .mbr-section-btn {
    text-align: left;
}

.cid-sUSFyo3iNC {
    padding-top: 1rem;
    padding-bottom: 9rem;
    background-color: #ffffff;
}

@media (min-width: 1500px) {
    .cid-sUSFyo3iNC .container {
        max-width: 1400px;
    }
}

.cid-sUSFyo3iNC .mbr-iconfont {
    display: block;
    font-size: 5rem;
    color: #003357;
    margin-bottom: 2rem;
}

.cid-sUSFyo3iNC .card-wrapper {
    margin-top: 3rem;
}

.cid-sUSFyo3iNC .row {
    justify-content: center;
}

.cid-sUSFyo3iNC .mbr-section-title .card-title,
.cid-sUSFyo3iNC .card-box {
    text-align: center;
}

.cid-sUSFyo3iNC .card-title,
.cid-sUSFyo3iNC .iconfont-wrapper {
    color: #003357;
}

.cid-sN2VU4sz3v {
    background-color: #003357;
}

@media (max-width: 991px) {
    .cid-sN2VU4sz3v .image-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sN2VU4sz3v .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cid-sN2VU4sz3v .text-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .cid-sN2VU4sz3v .text-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sN2VU4sz3v .mbr-text,
.cid-sN2VU4sz3v .mbr-section-btn {
    text-align: left;
    color: #fdfdfd;
}

.cid-sN2VU4sz3v .mbr-section-title {
    text-align: left;
    color: #ffffff;
}

.cid-sN2UI7mEm1 {
    background-color: #fafafa;
}

.cid-sN2UI7mEm1 .row {
    flex-direction: row-reverse;
}

@media (max-width: 991px) {
    .cid-sN2UI7mEm1 .image-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sN2UI7mEm1 .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cid-sN2UI7mEm1 .text-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .cid-sN2UI7mEm1 .text-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sN2UI7mEm1 .mbr-section-title {
    color: #003357;
}

.cid-sN2UI7mEm1 .mbr-text,
.cid-sN2UI7mEm1 .mbr-section-btn {
    color: #003357;
}

.cid-sN2XthYxFC {
    background-color: #003357;
}

@media (max-width: 991px) {
    .cid-sN2XthYxFC .image-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sN2XthYxFC .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cid-sN2XthYxFC .text-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .cid-sN2XthYxFC .text-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sN2XthYxFC .mbr-section-title {
    color: #ffffff;
    text-align: left;
}

.cid-sN2XthYxFC .mbr-text,
.cid-sN2XthYxFC .mbr-section-btn {
    color: #ffffff;
    text-align: left;
}

.cid-sN2XthYxFC .mbr-section-title DIV {
    text-align: left;
}

.cid-sN31FbFdqL {
    background-color: #fafafa;
}

.cid-sN31FbFdqL .row {
    flex-direction: row-reverse;
}

@media (max-width: 991px) {
    .cid-sN31FbFdqL .image-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sN31FbFdqL .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cid-sN31FbFdqL .text-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .cid-sN31FbFdqL .text-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sN31FbFdqL .mbr-section-title {
    color: #003357;
}

.cid-sN31FbFdqL .mbr-text,
.cid-sN31FbFdqL .mbr-section-btn {
    color: #003357;
}

.cid-hdRTGsTEsP {
    background-color: #003357;
}

@media (max-width: 991px) {
    .cid-hdRTGsTEsP .image-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-hdRTGsTEsP .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cid-hdRTGsTEsP .text-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .cid-hdRTGsTEsP .text-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-hdRTGsTEsP .mbr-section-title {
    color: #ffffff;
}

.cid-hdRTGsTEsP .mbr-text,
.cid-hdRTGsTEsP .mbr-section-btn {
    color: #fdfdfd;
    text-align: left;
}

.cid-sN3tyO8L9s {
    padding-top: 2rem;
    padding-bottom: 5rem;
    background: #003357;
}

.cid-sN3tyO8L9s .list-group-item {
    background-color: transparent;
    padding: .5rem 3.25rem;
}

.cid-sN3tyO8L9s .plan-body {
    padding-bottom: 2rem;
}

.cid-sN3tyO8L9s .plan-header {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cid-sN3tyO8L9s .price {
    color: #003357;
}

.cid-sN3tyO8L9s .plan {
    word-break: break-word;
    background-color: #ffffff;
}

.cid-sN3tyO8L9s .plan .list-group-item {
    position: relative;
    justify-content: center;
    border: 0;
}

.cid-sN3tyO8L9s .plan .list-group-item::after {
    position: absolute;
    bottom: 1px;
    left: 25%;
    width: 50%;
    height: 1px;
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
}

.cid-sN3tyO8L9s .plan .list-group-item:last-child::after {
    display: none;
}

@media (max-width: 991px) {
    .cid-sN3tyO8L9s .plan {
        margin-bottom: 2rem;
    }
}

.cid-sN33y9obqo {
    padding-top: 7rem;
    padding-bottom: 5rem;
    background-color: #003357;
}

.cid-sN33y9obqo .item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.cid-sN33y9obqo .icon-box {
    background: #ffffff;
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cid-sN33y9obqo .mbr-iconfont {
    font-size: 2rem;
    color: #808080;
}

@media (max-width: 991px) {
    .cid-sN33y9obqo .card {
        margin-bottom: 2rem;
    }
    .cid-sN33y9obqo .card-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sN33y9obqo .card-title,
.cid-sN33y9obqo .card-box {
    color: #ffffff;
}

.cid-sN33y9obqo .icon-title {
    color: #ffffff;
}

.cid-sN33y9obqo .icon-text {
    color: #fafafa;
}

.cid-sURhCzWSL1 {
    background-color: #ffffff;
}

.cid-sURhCzWSL1 .row {
    flex-direction: row-reverse;
}

@media (max-width: 991px) {
    .cid-sURhCzWSL1 .image-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sURhCzWSL1 .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cid-sURhCzWSL1 .text-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .cid-sURhCzWSL1 .text-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sURhCzWSL1 .mbr-section-title {
    color: #003357;
}

.cid-sURhCzWSL1 .mbr-text,
.cid-sURhCzWSL1 .mbr-section-btn {
    color: #003357;
}

.cid-sURjTBmpOP {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #003357;
}

@media (max-width: 991px) {
    .cid-sURjTBmpOP .image-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sURjTBmpOP .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cid-sURjTBmpOP .text-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .cid-sURjTBmpOP .text-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-sURjTBmpOP .mbr-section-title {
    color: #ffffff;
}

.cid-sURjTBmpOP .mbr-text,
.cid-sURjTBmpOP .mbr-section-btn {
    color: #ffffff;
}

.cid-sUjTdLTmmr {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #003357;
}

.cid-sUjTdLTmmr .row {
    align-items: center;
}

@media (max-width: 991px) {
    .cid-sUjTdLTmmr .image-wrapper {
        padding: 1rem;
    }
}

@media (min-width: 992px) {
    .cid-sUjTdLTmmr .text-wrapper {
        padding: 0 2rem;
    }
}

.cid-sUjTdLTmmr .mbr-section-title {
    color: #ffffff;
    text-align: left;
}

.cid-sUjTdLTmmr .mbr-text,
.cid-sUjTdLTmmr .mbr-section-btn {
    text-align: left;
    color: #ffffff;
}

.cid-hdS9C0K52k {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #003357;
}

.cid-hdS9C0K52k .item {
    padding-bottom: 2rem;
}

.cid-hdS9C0K52k .item-wrapper {
    position: relative;
}

.cid-hdS9C0K52k .item-wrapper .icon-wrapper {
    pointer-events: none;
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 22px;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 50%;
    opacity: 0;
    color: #ffffff;
    transform: translateX(-50%) translateY(-50%);
    background-color: #1b1b1b;
    transition: 0.2s;
}

.cid-hdS9C0K52k .item-wrapper:hover .icon-wrapper {
    opacity: 0.7;
}

.cid-hdS9C0K52k .carousel-control,
.cid-hdS9C0K52k .close {
    background: #1b1b1b;
}

.cid-hdS9C0K52k .carousel-control-prev {
    margin-left: 2.5rem;
}

.cid-hdS9C0K52k .carousel-control-prev span {
    margin-right: 5px;
}

.cid-hdS9C0K52k .carousel-control-next {
    margin-right: 2.5rem;
}

.cid-hdS9C0K52k .carousel-control-next span {
    margin-left: 5px;
}

.cid-hdS9C0K52k .close {
    position: fixed;
    opacity: 0.5;
    font-size: 22px;
    font-weight: 300;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    top: 2.5rem;
    right: 2.5rem;
    border: 2px solid #fff;
    text-shadow: none;
    z-index: 5;
    transition: opacity 0.3s ease;
    font-family: 'Moririse2';
    align-items: center;
    justify-content: center;
    display: flex;
}

.cid-hdS9C0K52k .close::before {
    content: '\e91a';
}

.cid-hdS9C0K52k .close:hover {
    opacity: 1;
    background: #000;
    color: #fff;
}

.cid-hdS9C0K52k .carousel-control {
    display: flex;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -1.5rem;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.3s;
}

.cid-hdS9C0K52k .carousel-control.carousel-control-prev {
    left: 0;
    margin-left: 2.5rem;
}

.cid-hdS9C0K52k .carousel-control.carousel-control-next {
    right: 0;
    margin-right: 2.5rem;
}

@media (max-width: 767px) {
    .cid-hdS9C0K52k .carousel-control {
        top: auto;
        bottom: 1rem;
    }
}

.cid-hdS9C0K52k .carousel-indicators {
    position: absolute;
    bottom: 0;
    margin-bottom: 3px;
}

.cid-hdS9C0K52k .carousel-indicators li {
    max-width: 15px;
    height: 15px;
    width: 15px;
    max-height: 15px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.3s;
}

.cid-hdS9C0K52k .carousel-indicators li.active,
.cid-hdS9C0K52k .carousel-indicators li:hover {
    opacity: 0.9;
}

.cid-hdS9C0K52k .carousel-indicators li::after,
.cid-hdS9C0K52k .carousel-indicators li::before {
    content: none;
}

.cid-hdS9C0K52k .carousel-indicators.ie-fix {
    left: 50%;
    display: block;
    width: 60%;
    margin-left: -30%;
    text-align: center;
}

@media (max-width: 768px) {
    .cid-hdS9C0K52k .carousel-indicators {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .cid-hdS9C0K52k .carousel-indicators {
        margin-bottom: 3.625rem !important;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media (max-width: 767px) {
    .cid-hdS9C0K52k .carousel-indicators {
        display: none;
    }
}

.cid-hdS9C0K52k .carousel-inner {
    display: flex;
    align-items: center;
}

.cid-hdS9C0K52k .carousel-inner>.active {
    display: block;
}

.cid-hdS9C0K52k .carousel-control.left {
    left: 0;
    margin-left: 2.5rem;
}

.cid-hdS9C0K52k .carousel-control.right {
    right: 0;
    margin-right: 2.5rem;
}

.cid-hdS9C0K52k .carousel-control:hover {
    background: #1b1b1b;
    color: #fff;
    opacity: 1;
}

@media (max-width: 768px) {
    .cid-hdS9C0K52k .carousel-control,
    .cid-hdS9C0K52k .carousel-indicators,
    .cid-hdS9C0K52k .modal .close {
        position: fixed;
    }
}

@media (max-width: 767px) {
    .cid-hdS9C0K52k .mbr-slider .carousel-control {
        top: auto;
        bottom: 20px;
    }
    .cid-hdS9C0K52k .mbr-slider>.container .carousel-control {
        margin-bottom: 0;
    }
}

.cid-hdS9C0K52k .carousel-indicators .active,
.cid-hdS9C0K52k .carousel-indicators li {
    width: 7px;
    height: 7px;
    margin: 3px;
    background: #000000;
    opacity: 0.5;
    border: 4px solid #000000;
}

.cid-hdS9C0K52k .carousel-indicators .active {
    background: #fff;
}

.cid-hdS9C0K52k .carousel-indicators li {
    max-width: 15px;
    max-height: 15px;
    border-radius: 50%;
}

.cid-hdS9C0K52k .modal {
    padding-left: 0 !important;
    position: fixed;
    overflow: hidden;
    padding-right: 0 !important;
}

.cid-hdS9C0K52k .modal-dialog {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cid-hdS9C0K52k .modal-content {
    border-radius: 0;
    border: none;
    background: transparent;
}

.cid-hdS9C0K52k .modal-body {
    padding: 0;
    display: flex;
    align-items: center;
}

.cid-hdS9C0K52k .modal-body img {
    width: 100%;
    object-fit: contain;
    max-height: calc(100vh - 1.75rem);
}

.cid-hdS9C0K52k .carousel {
    width: 100%;
}

.cid-hdS9C0K52k .modal-backdrop.in {
    opacity: 0.8;
}

.cid-hdS9C0K52k .modal.fade .modal-dialog {
    transition: margin-top 0.3s ease-out;
}

.cid-hdS9C0K52k .modal.fade .modal-dialog,
.cid-hdS9C0K52k .modal.in .modal-dialog {
    transform: none;
}

.cid-hdS9C0K52k .mbr-gallery .item-wrapper {
    cursor: pointer;
}

.cid-hdS9C0K52k H6 {
    text-align: center;
}

.cid-hdS9C0K52k H3 {
    color: #2b00ff;
}

.cid-sMQf3jIBL3 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-sMQf3jIBL3 .image-wrapper {
    display: flex;
    align-items: center;
}

.cid-sMQf3jIBL3 .card-wrapper {
    margin-bottom: 2rem;
    display: flex;
    border-radius: 4px;
    background: #ededed;
}

@media (max-width: 991px) {
    .cid-sMQf3jIBL3 .card-wrapper {
        padding: 1rem 2rem;
    }
}

@media (min-width: 992px) {
    .cid-sMQf3jIBL3 .card-wrapper {
        padding: 2rem 4rem;
    }
}

.cid-sMQf3jIBL3 .mbr-iconfont {
    font-size: 2rem;
    padding-right: 1.5rem;
    color: #003357;
}

.cid-sMQf3jIBL3 .card-title {
    color: #003357;
}

.cid-sMQf3jIBL3 .mbr-section-title {
    color: #003357;
}

.cid-sUlkezLbwc {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: #003357;
}

.cid-sUlkezLbwc .media-wrap {
    padding: 0;
}

@media (max-width: 991px) {
    .cid-sUlkezLbwc .media-wrap {
        margin-bottom: 1rem;
    }
}

@media (max-width: 767px) {
    .cid-sUlkezLbwc .row {
        text-align: center;
    }
    .cid-sUlkezLbwc .row>div {
        margin: auto;
    }
    .cid-sUlkezLbwc .social-row {
        justify-content: center;
    }
}

.cid-sUlkezLbwc .social-row {
    display: flex;
    flex-wrap: wrap;
}

.cid-sUlkezLbwc .list {
    list-style: none;
    padding-left: 0;
    color: #bbbbbb;
}

@media (max-width: 991px) {
    .cid-sUlkezLbwc .list {
        margin-bottom: 2rem;
    }
}

@media (min-width: 992px) {
    .cid-sUlkezLbwc .list {
        margin-bottom: 0rem;
    }
}

.cid-sUlkezLbwc .mbr-text {
    color: #bbbbbb;
}

.cid-sUlkezLbwc .soc-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
}

.cid-sUlkezLbwc .mbr-iconfont {
    color: black;
}

@media (max-width: 991px) {
    .cid-sUlkezLbwc div>*:last-child {
        margin-top: 0 !important;
    }
}

.cid-sUlkezLbwc .copyright {
    text-align: center;
    color: #fafafa;
}

.cid-sMAbwax2aF {
    z-index: 1000;
    width: 100%;
}

.cid-sMAbwax2aF nav.navbar {
    position: fixed;
}

.cid-sMAbwax2aF .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
}

.cid-sMAbwax2aF .dropdown-menu {
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.cid-sMAbwax2aF .dropdown-item {
    border-bottom: 1px solid #e6e6e6;
}

.cid-sMAbwax2aF .dropdown-item:hover,
.cid-sMAbwax2aF .dropdown-item:focus {
    background: #003357 !important;
    color: white !important;
}

.cid-sMAbwax2aF .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cid-sMAbwax2aF .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cid-sMAbwax2aF .nav-dropdown .link {
    padding: 0 0.3em !important;
    margin: 0.667em 1em !important;
}

.cid-sMAbwax2aF .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

.cid-sMAbwax2aF .nav-link {
    position: relative;
}

.cid-sMAbwax2aF .container {
    display: flex;
    margin: auto;
}

.cid-sMAbwax2aF .iconfont-wrapper {
    color: #000000 !important;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.cid-sMAbwax2aF .dropdown-menu,
.cid-sMAbwax2aF .navbar.opened {
    background: #ffffff !important;
}

.cid-sMAbwax2aF .nav-item:focus,
.cid-sMAbwax2aF .nav-link:focus {
    outline: none;
}

.cid-sMAbwax2aF .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
}

.cid-sMAbwax2aF .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
}

.cid-sMAbwax2aF .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
}

.cid-sMAbwax2aF .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
}

.cid-sMAbwax2aF .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
}

.cid-sMAbwax2aF .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
}

.cid-sMAbwax2aF .navbar {
    min-height: 70px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    position: absolute;
    background: #ffffff;
}

.cid-sMAbwax2aF .navbar.opened {
    transition: all 0.3s;
}

.cid-sMAbwax2aF .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
}

.cid-sMAbwax2aF .navbar .navbar-logo img {
    width: auto;
}

.cid-sMAbwax2aF .navbar .navbar-collapse {
    justify-content: flex-end;
    z-index: 1;
}

.cid-sMAbwax2aF .navbar.collapsed {
    justify-content: center;
}

.cid-sMAbwax2aF .navbar.collapsed .nav-item .nav-link::before {
    display: none;
}

.cid-sMAbwax2aF .navbar.collapsed.opened .dropdown-menu {
    top: 0;
}

@media (min-width: 992px) {
    .cid-sMAbwax2aF .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
        max-height: calc(98.5vh - 3rem);
    }
}

.cid-sMAbwax2aF .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
}

.cid-sMAbwax2aF .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
}

.cid-sMAbwax2aF .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
}

.cid-sMAbwax2aF .navbar.collapsed ul.navbar-nav li {
    margin: auto;
}

.cid-sMAbwax2aF .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
}

.cid-sMAbwax2aF .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 991px) {
    .cid-sMAbwax2aF .navbar .nav-item .nav-link::before {
        display: none;
    }
    .cid-sMAbwax2aF .navbar.opened .dropdown-menu {
        top: 0;
    }
    .cid-sMAbwax2aF .navbar .dropdown-menu .dropdown-submenu {
        left: 0 !important;
    }
    .cid-sMAbwax2aF .navbar .dropdown-menu .dropdown-item:after {
        right: auto;
    }
    .cid-sMAbwax2aF .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
        margin-left: 0.5rem;
        margin-top: 0.2rem;
        border-top: 0.35em solid;
        border-right: 0.35em solid transparent;
        border-left: 0.35em solid transparent;
        border-bottom: 0;
        top: 40%;
    }
    .cid-sMAbwax2aF .navbar .navbar-logo img {
        height: 3rem !important;
    }
    .cid-sMAbwax2aF .navbar ul.navbar-nav li {
        margin: auto;
    }
    .cid-sMAbwax2aF .navbar .dropdown-menu .dropdown-item {
        padding: 0.25rem 1.5rem !important;
        text-align: center;
    }
    .cid-sMAbwax2aF .navbar .navbar-brand {
        flex-shrink: initial;
        flex-basis: auto;
        word-break: break-word;
        padding-right: 2rem;
    }
    .cid-sMAbwax2aF .navbar .navbar-toggler {
        flex-basis: auto;
    }
    .cid-sMAbwax2aF .navbar .icons-menu {
        padding-left: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.cid-sMAbwax2aF .navbar.navbar-short {
    min-height: 60px;
}

.cid-sMAbwax2aF .navbar.navbar-short .navbar-logo img {
    height: 2.5rem !important;
}

.cid-sMAbwax2aF .navbar.navbar-short .navbar-brand {
    min-height: 60px;
    padding: 0;
}

.cid-sMAbwax2aF .navbar-brand {
    min-height: 70px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
}

.cid-sMAbwax2aF .navbar-brand .navbar-caption {
    line-height: inherit !important;
}

.cid-sMAbwax2aF .navbar-brand .navbar-logo a {
    outline: none;
}

.cid-sMAbwax2aF .dropdown-item.active,
.cid-sMAbwax2aF .dropdown-item:active {
    background-color: transparent;
}

.cid-sMAbwax2aF .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.cid-sMAbwax2aF .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
}

.cid-sMAbwax2aF .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
}

.cid-sMAbwax2aF .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #ffffff;
}

.cid-sMAbwax2aF .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 100%;
}

.cid-sMAbwax2aF .navbar .dropdown.open>.dropdown-menu {
    display: block;
}

.cid-sMAbwax2aF ul.navbar-nav {
    flex-wrap: wrap;
}

.cid-sMAbwax2aF .navbar-buttons {
    text-align: center;
    min-width: 170px;
}

.cid-sMAbwax2aF button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
}

.cid-sMAbwax2aF button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #003357;
}

.cid-sMAbwax2aF button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
}

.cid-sMAbwax2aF button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
}

.cid-sMAbwax2aF button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
}

.cid-sMAbwax2aF button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
}

.cid-sMAbwax2aF nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}

.cid-sMAbwax2aF nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
}

.cid-sMAbwax2aF nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
}

.cid-sMAbwax2aF nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}

.cid-sMAbwax2aF .navbar-dropdown {
    padding: 0 1rem;
    position: fixed;
}

.cid-sMAbwax2aF a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cid-sMAbwax2aF .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .cid-sMAbwax2aF .navbar {
        height: 70px;
    }
    .cid-sMAbwax2aF .navbar.opened {
        height: auto;
    }
    .cid-sMAbwax2aF .nav-item .nav-link:hover::before {
        width: 175%;
        max-width: calc(100% + 2rem);
        left: -1rem;
    }
}